<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="org.grotontrails.GrotonTrailTracker" android:versionName="1.0.0" android:versionCode="12">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<application android:label="Groton Trail Tracker" android:icon="@drawable/ic_gtnRound" android:theme="@style/MyTheme">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="org.grotontrails.GrotonTrailTracker.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.LOCATION_HARDWARE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>